* {
    box-sizing: border-box;
    margin: 0;
    margin: 0;
    list-style: none;
}

body{
    background-image: linear-gradient(140deg, #f6d365, #fda085);
    color: #fffddf;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}
header{
    font-size: 1.5rem;
}
header, form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background-color: whitesmoke;
    color: #444;
}

form button {
    cursor: pointer;
    transition: all 0.3s ease;
    color: #fda085;
}
form button:hover{
    color: #f6d365;
}
.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list{
    min-width: 30%;
}
.todo{
    margin: 0.5rem;
    background-color: whitesmoke;
    color: #333;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .5s ease;
}
.todo li{
    flex: 1;
    padding: 0 0.5rem 0 0.5rem;
}

.completed-btn, .trash-btn {
border: none;
padding: .7rem;
font-size: .9rem;
background-color: #fda085;
color: whitesmoke;
}
.completed-btn{
    background-color: #0a0
}
.trash-btn {
    background-color: #a31
}
.fa-trash, .fa-check{
    pointer-events: none;
}
.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}
.completed{
    text-decoration: line-through;
    opacity: 0.8;
}